.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
}

.sidebar {
  color: #d2d2d2;  // grey text. original was white
}

.skin-red .main-sidebar {
  font-size: 14px;
  background-color: #293438;  // original #222D31
}

.selectize-input { font-size: 11px; line-height: 11px; padding-left:2%;  word-wrap: normal;}
.selectize-dropdown { font-size: 11px; line-height: 11px; }
.selectize-dropdown-content .active {
       background: #e06666 !important;}

label
{
    font-size: 14px;
    font-weight: 400; 
}



.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3e474b;
}




.box.box-primary {
    border-top-color: #3e474b;
    border-bottom-color:  #3e474b;
}
